@using PersEmails.ViewModels.Emails;
@model EmailListViewModel
@{
    ViewData["Title"] = "List of emails";
}

<h2>All emails</h2>

<table class="col-7 table">
    <tr style="background-color:lightgray">
        <th class="col-5"> email </th>
        <th class="col-2"> name </th>
        <th class="col-3"> surname </th>

        <th class="col-2"> </th>
    </tr>

    @foreach (var item in Model.Emails)
    {
        <tr>
            <td class="col-5" style="background-color:whitesmoke"> @Html.DisplayFor(i => item.EmailAddress) </td>
            <td class="col-2"> @Html.DisplayFor(i => item.Name) </td>
            <td class="col-3" style="background-color:whitesmoke"> @Html.DisplayFor(i => item.Surname) </td>

            <td class="col-2 text-center"> <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> </td>
        </tr>
    }

</table>

<partial name="../Shared/_Paginator.cshtml" model="@Model" />
