@model PageableViewModel

@if(Model.PageNumber > 1)
{
    <a class="link-primary"
        asp-controller="@ViewContext.RouteData.Values["controller"].ToString()"
        asp-action="@ViewContext.RouteData.Values["action"].ToString()"
        asp-route-page="@(Model.PageNumber - 1)">
        &lt;Prev
    </a>
}

&nbsp;- Page @Model.PageNumber -&nbsp;

@if (Model.ItemsCount == Model.PageSize)
{
    <a class="link-primary"
        asp-controller="@ViewContext.RouteData.Values["controller"].ToString()"
        asp-action="@ViewContext.RouteData.Values["action"].ToString()"
        asp-route-page="@(Model.PageNumber + 1)">
        Next&gt;
    </a>
}
