@using PersEmails.Application.Persons
@{
    ViewData["Title"] = "Edit perrson data";
}
@model PersonDto

<h2>Edit details of @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h2>

<form asp-controller="Persons" asp-action="SavePerson" method="post">
    
    <label for="Name">Name:</label>
    <br />
    <input type="text" value="@Model.Name" name="Name" size="50" maxlength="50" />
    <br />
    <label for="Surname">Surname:</label>
    <br />
    <input type="text" value="@Model.Surname" name="Surname" size="50" maxlength="50" />
    <br />
    <label for="Description">Description:</label>
    <br />
    <textarea type="text" name="Description" cols="50" rows="10">@Model.Description</textarea>
    <br />
    <input type="hidden" value="@Model.Id" name="Id" />
    <br />

    <button type="submit"> Save person </button>
    <button type="button" onclick="history.back()"> Cancel </button>

</form>
