@using PersEmails.ViewModels.Persons;
@model PersonListViewModel
@{
    ViewData["Title"] = "List of persons";
}

<h2>Persons</h2>

<table class="col-10 table">
    <tr style="background-color:lightgray">
        <th class="col-1"> surname </th>
        <th class="col-1"> first&nbsp;name </th>
        <th class="col-3"> email </th>
        <th class="col-4"> description </th>

        <th class="col-1"> </th>
        <th class="col-1"> </th>
        <th class="col-1"> </th>
    </tr>

    @foreach (var item in Model.Persons) {
        <tr>
            <td class="col-1" style="background-color:whitesmoke"> @Html.DisplayFor(i => item.Surname) </td>
            <td class="col-1" style="background-color:whitesmoke"> @Html.DisplayFor(i => item.Name) </td>
            <td class="col-3"> @Html.DisplayFor(i => item.EmailAddress) </td>
            <td class="col-4" style="background-color:whitesmoke"> @Html.DisplayFor(i => item.Description) </td>

            <td class="col-1 text-center"> <a class="btn btn-outline-secondary" asp-action="Person" asp-route-id="@item.Id">Details</a> </td>
            <td class="col-1 text-center"> <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> </td>
            <td class="col-1 text-center"> <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> </td>
        </tr>
    }
</table>

<partial name="../Shared/_Paginator.cshtml" model="@Model" />

<br />
<br />
<a class="btn btn-secondary" asp-controller="Persons" asp-action="Add">Add person</a>
