@using PersEmails.ViewModels.Persons;
@model PersonDataViewModel
@{
    ViewData["Title"] = "Person's data";
}

<h2>@Html.DisplayFor(model => model.Person.Name) @Html.DisplayFor(model => model.Person.Surname) data:</h2>

<dl class="row">
    <dt>@Html.DisplayNameFor(model => model.Person.Name)</dt>
    <dd class="text-secondary"> @Html.DisplayFor(model => model.Person.Name)</dd>

    <dt>@Html.DisplayNameFor(model => model.Person.Surname)</dt>
    <dd class="text-secondary"> @Html.DisplayFor(model => model.Person.Surname)</dd>

    <dt>@Html.DisplayNameFor(model => model.Person.Description)</dt>
    <dd class="text-secondary"> @Html.DisplayFor(model => model.Person.Description)</dd>
</dl>

<h2>Emails:</h2>

<div class="col-6">
    <partial name="_PersonEmails.cshtml" model="@Model.Emails" />
</div>

<a class="btn btn-secondary" asp-controller="Emails" asp-action="Add" asp-route-personId="@Model.Person.Id">Add email</a>
<button class="btn btn-outline-secondary" type="button" onclick="history.back()"> Cancel </button>